.btn-primary {
  @include button-variant($primary, $primary, $primary, $primary, $primary, $primary);
  opacity: .8;

  @include hover-focus-active {
    opacity: 1;
  }

  .is-mobile,
  .is-tablet {
    @include button-variant($primary, $primary, $primary, $primary, $primary, $primary);
    opacity: 1;
  }

  @include media-breakpoint-down('sm') {
    @include button-variant($primary, $primary, $primary, $primary, $primary, $primary);
    opacity: 1;
  }
}

.btn-secondary {
  @include button-variant($secondary, $secondary, $secondary, $secondary, $secondary, $secondary);
  opacity: .8;

  @include hover-focus-active {
    opacity: 1;
  }

  .is-mobile,
  .is-tablet {
    @include button-variant($secondary, $secondary, $secondary, $secondary, $secondary, $secondary);
    opacity: 1;
  }

  @include media-breakpoint-down('sm') {
    @include button-variant($secondary, $secondary, $secondary, $secondary, $secondary, $secondary);
    opacity: 1;
  }
}

.btn-success {
  @include button-variant($success, $success, $success, $success, $success, $success);
  opacity: .8;

  @include hover-focus-active {
    opacity: 1;
  }

  .is-mobile,
  .is-tablet {
    @include button-variant($success, $success, $success, $success, $success, $success);
    opacity: 1;
  }

  @include media-breakpoint-down('sm') {
    @include button-variant($success, $success, $success, $success, $success, $success);
    opacity: 1;
  }
}

.btn-outline-secondary {
  @include button-outline-variant($secondary, color-yiq($secondary), $secondary, $secondary);

  @include media-breakpoint-down('sm') {
    @include button-outline-variant($secondary, color-yiq($secondary), $secondary, $secondary);
  }
}

.btn-260px {
  min-width: 260px;
}

.btn.disabled,
.btn:disabled {
  color: var(--white) !important;
  background-color: $gray-200 !important;
  border-color: $gray-200 !important;
  opacity: 1 !important;
}
