$drop-shadow: 0 4px 6px rgba($black, .15);
$drop-background: $gray-100;
$drop-color: $body-color;
$drop-arrow-size: 7px;
$drop-arrow-size-2: $drop-arrow-size + 2px;
$drop-radius: $border-radius;
$drop-border-color: rgba($gray-450, .35);

$drop-background-inverse: rgba($black, .7);
$drop-color-inverse: $white;

.drop-element,
.drop-element:after,
.drop-element:before,
.drop-element *,
.drop-element *:after,
.drop-element *:before {
  box-sizing: border-box;
}

.drop-element {
  position: absolute;
  display: none;
  transition: opacity .15s linear;
  opacity: 0;
}

.drop-element.drop-open {
  display: block;
}

.drop-element.drop-after-open {
  opacity: 1;
}

.drop-element.drop-theme-arrows {
  max-width: 100%;
  max-height: 100%;
}

.drop-element.drop-theme-arrows .drop-content {
  border-radius: $drop-radius;
  position: relative;
  font-family: inherit;
  background: $drop-background;
  color: $drop-color;
  padding: 1rem;
  transform: translateZ(0);
  box-shadow: $drop-shadow;
  // filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));

}

.drop-element.drop-theme-arrows .drop-content::before,
.drop-element.drop-theme-arrows .drop-content::after {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-width: $drop-arrow-size;
  border-style: solid;
}

.drop-element.drop-theme-arrows .drop-content::after {
  border-width: $drop-arrow-size-2;
  z-index: -1;
}

.drop-element.drop-theme-arrows.drop-element-attached-bottom.drop-element-attached-center .drop-content {
  margin-bottom: $drop-arrow-size-2 - 4px;
}

.drop-element.drop-theme-arrows.drop-element-attached-bottom.drop-element-attached-center .drop-content::before,
.drop-element.drop-theme-arrows.drop-element-attached-bottom.drop-element-attached-center .drop-content::after {
  top: 100%;
  left: 50%;
  margin-left: -$drop-arrow-size;
  border-top-color: $drop-background;
}

.drop-element.drop-theme-arrows.drop-element-attached-bottom.drop-element-attached-center .drop-content::after {
  margin-left: -$drop-arrow-size-2 - 4px;
  border-top-color: $drop-border-color;
}

.drop-element.drop-theme-arrows.drop-element-attached-top.drop-element-attached-center .drop-content {
  margin-top: $drop-arrow-size;
}

.drop-element.drop-theme-arrows.drop-element-attached-top.drop-element-attached-center .drop-content:before,
.drop-element.drop-theme-arrows.drop-element-attached-top.drop-element-attached-center .drop-content:after {
  bottom: 100%;
  left: 50%;
  margin-left: -$drop-arrow-size;
  border-bottom-color: $drop-background;
}

.drop-element.drop-theme-arrows.drop-element-attached-top.drop-element-attached-center .drop-content:after {
  margin-left: -$drop-arrow-size-2 - 4px;
  border-bottom-color: $drop-border-color;
}

.drop-element.drop-theme-arrows.drop-element-attached-right.drop-element-attached-middle .drop-content {
  margin-right: $drop-arrow-size;
}

.drop-element.drop-theme-arrows.drop-element-attached-right.drop-element-attached-middle .drop-content:before,
.drop-element.drop-theme-arrows.drop-element-attached-right.drop-element-attached-middle .drop-content:after {
  left: 100%;
  top: 50%;
  margin-top: -$drop-arrow-size;
  border-left-color: $drop-background;
}

.drop-element.drop-theme-arrows.drop-element-attached-right.drop-element-attached-middle .drop-content:after {
  margin-top: -$drop-arrow-size-2 - 4px;
  border-left-color: $drop-border-color;
}

.drop-element.drop-theme-arrows.drop-element-attached-left.drop-element-attached-middle .drop-content {
  margin-left: $drop-arrow-size;
}

.drop-element.drop-theme-arrows.drop-element-attached-left.drop-element-attached-middle .drop-content:before,
.drop-element.drop-theme-arrows.drop-element-attached-left.drop-element-attached-middle .drop-content:after {
  right: 100%;
  top: 50%;
  margin-top: -$drop-arrow-size;
  border-right-color: $drop-background;
}

.drop-element.drop-theme-arrows.drop-element-attached-left.drop-element-attached-middle .drop-content:after {
  margin-top: -$drop-arrow-size-2 - 4px;
  border-right-color: $drop-border-color;
}

.drop-element.drop-theme-arrows.drop-element-attached-top.drop-element-attached-left.drop-target-attached-bottom .drop-content {
  margin-top: $drop-arrow-size;
}

.drop-element.drop-theme-arrows.drop-element-attached-top.drop-element-attached-left.drop-target-attached-bottom .drop-content::before,
.drop-element.drop-theme-arrows.drop-element-attached-top.drop-element-attached-left.drop-target-attached-bottom .drop-content::after {
  bottom: 100%;
  left: $drop-arrow-size;
  border-bottom-color: $drop-background;
}

.drop-element.drop-theme-arrows.drop-element-attached-top.drop-element-attached-left.drop-target-attached-bottom .drop-content::after {
  left: $drop-arrow-size-2 - 4px;
  border-bottom-color: $drop-border-color;
}

.drop-element.drop-theme-arrows.drop-element-attached-top.drop-element-attached-right.drop-target-attached-bottom .drop-content {
  margin-top: $drop-arrow-size;
}

.drop-element.drop-theme-arrows.drop-element-attached-top.drop-element-attached-right.drop-target-attached-bottom .drop-content:before,
.drop-element.drop-theme-arrows.drop-element-attached-top.drop-element-attached-right.drop-target-attached-bottom .drop-content:after {
  bottom: 100%;
  right: $drop-arrow-size;
  border-bottom-color: $drop-background;
}

.drop-element.drop-theme-arrows.drop-element-attached-top.drop-element-attached-right.drop-target-attached-bottom .drop-content:after {
  right: $drop-arrow-size-2 - 4px;
  border-bottom-color: $drop-border-color;
}

.drop-element.drop-theme-arrows.drop-element-attached-bottom.drop-element-attached-left.drop-target-attached-top .drop-content {
  margin-bottom: $drop-arrow-size;
}

.drop-element.drop-theme-arrows.drop-element-attached-bottom.drop-element-attached-left.drop-target-attached-top .drop-content:before,
.drop-element.drop-theme-arrows.drop-element-attached-bottom.drop-element-attached-left.drop-target-attached-top .drop-content:after {
  top: 100%;
  left: $drop-arrow-size;
  border-top-color: $drop-background;
}

.drop-element.drop-theme-arrows.drop-element-attached-bottom.drop-element-attached-left.drop-target-attached-top .drop-content:after {
  left: $drop-arrow-size-2 - 4px;
  border-top-color: $drop-border-color;
}

.drop-element.drop-theme-arrows.drop-element-attached-bottom.drop-element-attached-right.drop-target-attached-top .drop-content {
  margin-bottom: $drop-arrow-size;
}

.drop-element.drop-theme-arrows.drop-element-attached-bottom.drop-element-attached-right.drop-target-attached-top .drop-content:before,
.drop-element.drop-theme-arrows.drop-element-attached-bottom.drop-element-attached-right.drop-target-attached-top .drop-content:after {
  top: 100%;
  right: $drop-arrow-size;
  border-top-color: $drop-background;
}

.drop-element.drop-theme-arrows.drop-element-attached-bottom.drop-element-attached-right.drop-target-attached-top .drop-content:after {
  right: $drop-arrow-size-2 - 4px;
  border-top-color: $drop-border-color;
}

.drop-element.drop-theme-arrows.drop-element-attached-top.drop-element-attached-right.drop-target-attached-left .drop-content {
  margin-right: $drop-arrow-size;
}

.drop-element.drop-theme-arrows.drop-element-attached-top.drop-element-attached-right.drop-target-attached-left .drop-content:before,
.drop-element.drop-theme-arrows.drop-element-attached-top.drop-element-attached-right.drop-target-attached-left .drop-content:after {
  top: $drop-arrow-size;
  left: 100%;
  border-left-color: $drop-background;
}

.drop-element.drop-theme-arrows.drop-element-attached-top.drop-element-attached-right.drop-target-attached-left .drop-content:after {
  top: $drop-arrow-size-2 - 4px;
  border-left-color: $drop-border-color;
}

.drop-element.drop-theme-arrows.drop-element-attached-top.drop-element-attached-left.drop-target-attached-right .drop-content {
  margin-left: $drop-arrow-size;
}

.drop-element.drop-theme-arrows.drop-element-attached-top.drop-element-attached-left.drop-target-attached-right .drop-content:before,
.drop-element.drop-theme-arrows.drop-element-attached-top.drop-element-attached-left.drop-target-attached-right .drop-content:after {
  top: $drop-arrow-size;
  right: 100%;
  border-right-color: $drop-background;
}

.drop-element.drop-theme-arrows.drop-element-attached-top.drop-element-attached-left.drop-target-attached-right .drop-content:after {
  top: $drop-arrow-size-2 - 4px;
  border-right-color: $drop-border-color;
}

.drop-element.drop-theme-arrows.drop-element-attached-bottom.drop-element-attached-right.drop-target-attached-left .drop-content {
  margin-right: $drop-arrow-size;
}

.drop-element.drop-theme-arrows.drop-element-attached-bottom.drop-element-attached-right.drop-target-attached-left .drop-content:before,
.drop-element.drop-theme-arrows.drop-element-attached-bottom.drop-element-attached-right.drop-target-attached-left .drop-content:after {
  bottom: $drop-arrow-size;
  left: 100%;
  border-left-color: $drop-background;
}

.drop-element.drop-theme-arrows.drop-element-attached-bottom.drop-element-attached-right.drop-target-attached-left .drop-content:after {
  bottom: $drop-arrow-size-2 - 4px;
  border-left-color: $drop-border-color;
}

.drop-element.drop-theme-arrows.drop-element-attached-bottom.drop-element-attached-left.drop-target-attached-right .drop-content {
  margin-left: $drop-arrow-size;
}

.drop-element.drop-theme-arrows.drop-element-attached-bottom.drop-element-attached-left.drop-target-attached-right .drop-content:before,
.drop-element.drop-theme-arrows.drop-element-attached-bottom.drop-element-attached-left.drop-target-attached-right .drop-content:after {
  bottom: $drop-arrow-size;
  right: 100%;
  border-right-color: $drop-background;
}

.drop-element.drop-theme-arrows.drop-element-attached-bottom.drop-element-attached-left.drop-target-attached-right .drop-content:after {
  bottom: $drop-arrow-size-2 - 4px;
  border-right-color: $drop-border-color;
}

.drop {
  z-index: 1031;
}

.drop-content {
  display: none;
  border-radius: $drop-radius;
  position: relative;
  font-family: inherit;
  background: $drop-background;
  color: $drop-color;
  padding: 1rem;
  transform: translateZ(0);
  box-shadow: $drop-shadow;
  border: 1px solid $drop-border-color;
}

.drop-content .dropdown-item {
  color: $white;
}

.drop-content .dropdown-item.active,
.drop-content .dropdown-item:hover {
  color: $drop-background;
  background: $white;
}

.drop .drop-content {
  display: block;
}


.drop-help.drop-element.drop-theme-arrows {
  .drop-content {
    max-width: 230px;
    font-size: 13px;
  }
}

.drop-text-danger .drop-content {
  color: $danger !important;
}

.drop-text-form .drop-content {
  color: $gray-500 !important;
}
