.progress {
  position: relative;

  .progress__action {
    width: 1.666rem;
    height: 1.666rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
    z-index: 2;

    .icon {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
    }
  }
}
