@import "normalize";

// VARIABLES
$font-stack:    'Roboto', sans-serif;
$text-size:     13px;
$text-color: #2C2B2B;
$blue-color: #006AAE;
$link-color: #276075;
$wav-color: #276075;
$grn-color: #BACD38;
$red-color: #CF4238;
$grn-lght-color: #2fb944;
$lght-color: #8eadb1;
$icons-color: #C5C5C5;
$brdr-color: #E5E5E5;
$inscript-color: #A0A0A0;
$inscript-blue-color: #68909E;

// GLOBAL
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

//MIXINS
@mixin small-wav-text {
  color: $wav-color;
  font-size: $text-size;
}

@mixin medium-wav-text {
  color: $wav-color;
  font-size: 15px;
}

@mixin small-black-text {
  color: $text-color;
  font-size: $text-size;
}

@mixin medium-black-text {
  color: $text-color;
  font-size: 15px;
}

@mixin title-black {
  color: $text-color;
  font-size: 24px;
}

@mixin small-title-black {
  color: $text-color;
  font-size: 18px;
}

@mixin medium-gray-text {
  color: #767676;
  font-size: 15px;
}

@mixin small-gray-text {
  color: #767676;
  font-size: $text-size;
}

@mixin small-lightgray-text {
  color: #B6B6B6;
  font-size: $text-size;
}

@mixin medium-white-text {
  color: #fff;
  font-size: 15px;
}

@mixin small-white-text {
  color: #fff;
  font-size: $text-size;
}

@mixin max-w($width) {
  @media (max-width: $width + 'px') {
    @content
  }
}

@mixin small-link-text {
  color: $link-color;
  font-size: $text-size;
}

@mixin border-corner {
  &:before, &:after {
    left: 100%;
    top: 50%;
    border:solid transparent;
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-width: 16px;
  }

  &:before {
    margin-top: -20px;
    border-left: 10px solid #C5C5C5;
  }

  &:after {
    margin-top: -20px;
    margin-left: -1px;
    border-left: 10px solid #F3F3F3;
  }
  @include max-w(998) {
    &:before, &:after {
      left: 50%;
      top: 100%;
      transform: rotate(90deg);
      margin-left: -16px;
    }
    &:before {
      margin-top: -4px;
    }
    &:after {
      margin-top: -5px;
    }
  }
}

@mixin input-state {
  input, textarea, select {
    color: $text-color;
    &:hover {
      border-color: rgba(39, 96, 117, 0.5);
    }
    &:active {
      border-color: #276075;
      outline: none;
    }
    &:focus {
      outline: none;
      border-color: #276075;
    }
    &::placeholder {
      color: #A0A0A0;
      font-weight: 300;
    }
  }
  .error {
    border-color: $red-color;
    background-image: url("../images/error.svg"), url("../images/error2.svg");
    background-repeat: no-repeat;
    background-position: 95% center;
    &:hover {
      border-color: $red-color;
    }
  }
  .success {
    border-color: #B7C63A;
    background-image: url("../images/success.svg");
    background-repeat: no-repeat;
    background-position: 95% center;
    &:hover {
      border-color: #B7C63A;
    }
  }
}




// HEADER
.header-head {
  padding-top: 40px;
  padding-bottom: 40px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.05);

  @include max-w(767) {
    padding-top: 24px;
    padding-bottom: 14px;
  }
}

.header-head__items {
  display: flex;
  justify-content: space-between;

  @include max-w(767) {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.header-logo {
  @include max-w(767) {
    width: 100px;
    margin-bottom: 23px;
  }
}

.header-contact {
  display: flex;

  @include max-w(767) {
    &:last-child {
      .header-contact__text {
        margin-bottom: 0;
      }
    }
  }
}

.header-contact__text {
  @include small-wav-text;
  margin-right: 10px;
  margin-left: auto;
  margin-bottom: 8px;
  @include max-w(767) {
    margin-left: 0;
  }
}

.header-contact__phone {
  @include small-link-text;
  font-size: 14px;
  text-decoration: underline;
  &:hover {
    color: $link-color;
    text-decoration: underline;
  }
}

// header-bot
.header-bot {
  padding-top: 30px;
  @include max-w(988) {
    padding-top: 22px;
  }
  @include max-w(767) {
    padding-top: 21px;
  }
}
.back-shop-wrap {

  @include max-w(767) {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.back-shop {
  @include small-link-text;
  font-weight: 500;
  text-decoration: none;
  &:before {
    content: '\2039';
    margin-right: 10px;
    font-size: 18px;
  }
  &:hover {
    color: $red-color;
  }
}

//MAIN
.main-title {
  @include title-black;
  font-weight: 500;
  margin-top: 38px;
  span {
    color: #767676;
  }
  @include max-w(767) {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 16px;
  }
}

.light-gray-bg {
  background: #F3F3F3;
}

.baskets-list {
  display: flex;
  height: 50px;
  margin-right: 83px;
  margin-bottom: 0;

  @include max-w(1250) {
    margin-right: auto;
  }

  @include max-w(767) {
    padding-left: 15px;
  }
  li {
    height: 100%;
    display: flex;
    align-items: center;
    border-bottom: 2px solid transparent;
    margin-right: 56px;

    @include max-w(998) {
      display: none;
      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3) {
        display: flex;
      }
    }

    @include max-w(767) {
      &:nth-child(1),
      &:nth-child(3) {
        display: none;
      }
    }

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      border-color: #B7C63A;
      cursor: pointer;
    }
    .baskets-list__link {
      height: 22px;
      display: block;
      text-decoration: none;
      @include medium-gray-text;
      position: relative;
      overflow: hidden;
      &:after {
        content: '';
        width: 30%;
        height: 100%;
        display: block;
        position: absolute;
        left: 100px;
        top: 0;
        background: linear-gradient(270deg, #F3F3F3 0%, rgba(255, 255, 255, 0) 92.86%);
      }
      &:before {
        display: block;
        content: attr(title);
        font-weight: 500;
        height: 0;
        overflow: hidden;
        visibility: hidden;
      }
    }
  }
  .basket-active-link {
    border-color: #B7C63A;
    a {
      color: $text-color;
      font-weight: 500;
    }
    .baskets-list__count{
      background: #A0A0A0;
    }
  }
  &__count {
    @include medium-white-text;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22px;
    height: 22px;
    background: $icons-color;
    border-radius: 3px;
    margin-left: 5px;
  }
  &__close {
    height: 18px;
    width: 18px;
    margin-left: 10px;
    position: relative;

    &:hover {
      &:before,
      &:after {
        background: $text-color;
      }
    }

    &:before,
    &:after {
      content: '';
      position: absolute;
      left: 5px;
      width: 2px;
      height: 18px;
      background: #A0A0A0;
      border-radius: 3px;
    }
    &:before {
      transform: rotate(-45deg);
    }
    &:after {
      transform: rotate(45deg);
    }
  }
  &__edit {
    width: 16px;
    height: 16px;
    display: block;
    margin-left: 10px;
    margin-top: -2px;
    svg {
      vertical-align: top;
    }
    &:hover {
      svg path {
        fill: $text-color;
      }
    }

  }
}

.baskets-list-next {
  display: none;

  @include max-w(998) {
    display: block;
    height: 16px;
    width: 9px;
    align-self: center;
    //margin-right: 39px;
    position: relative;

    span {
      &:before, &:after {
        display: block;
        content: '';
        background: #276075;;
        border-radius: 2px;
        width: 3px;
        height: 11px;
        position: absolute;
      }
      &:before {
        transform: rotate(-45deg);
        left: 0;
      }
      &:after {
        transform: rotate(45deg);
        top: 38%;
      }
    }
  }
  @include max-w(767) {
    margin-right: 15px;
  }
}

.new-basket-btn-wrap {
  align-self: center;

  @include max-w(998) {
    display: none;
  }
}

.new-basket-btn {
  border: 1px solid #767676;
  border-radius: 3px;
  width: 160px;
  height: 30px;
  background: transparent;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: $text-size;
  color: #767676;
  font-weight: 500;
  padding: 0;

  &:focus {
    outline: 0;
  }
  &:hover {
    color: $text-color;
    border-color: $text-color;

    span {
      &:before, &:after {
        background: $text-color;
      }
    }
  }

  span {
    height: 13px;
    width: 13px;


    &:before,
    &:after {
      content: '';
      position: absolute;
      width: 2px;
      height: 13px;
      background: #767676;
      border-radius: 3px;
    }
    &:after {
      transform: rotate(90deg);
    }
  }
}

//basket-controls
.basket-controls {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid #767676;
  padding-top: 23px;
  padding-bottom: 10px;
  position: relative;

  &__left,
  &__right {
    display: flex;
    align-items: center;
  }

  @include max-w(998) {
    border-bottom: none;
    .brdr-mobile {
      border-color: #767676;
    }
    &__right {
      display: none;
    }
  }
  @include max-w(767) {
    &__left {
      display: none;
    }
    &__right {
      display: block;
      .icon-basket-link {
        display: none;
      }
    }
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 17px;
    padding-bottom: 18px;
  }
}

.check {
  width: 16px;
  height: 16px;
  margin: 0;

  &__input {
    height: 1px;
    width: 1px;
    overflow: hidden;
    position: absolute;
    left: -9999px;

    &:disabled + .check__box {
      border-color: $brdr-color;
    }
    &:checked + .check__box {
      background-color: $wav-color;
      background-image: url("../images/check.svg");
      background-repeat: no-repeat;
      background-position: center;
      border-color: $wav-color;
    }
  }
  &__box {
    border-radius: 3px;
    border: 1px solid $brdr-color;
    background: #fff;
    width: 16px;
    height: 16px;
    position: absolute;

    &:hover {
      border-color: $wav-color;
      cursor: pointer;
    }
  }
}

.radio {
  height: 16px;
  margin: 0;
  display: flex;

  label {
    margin-left: 25px;
    line-height: 16px;
  }

  &__input {
    height: 1px;
    width: 1px;
    overflow: hidden;
    position: absolute;
    z-index: -99;

    &:disabled + .radio__btn {
      border-color: $brdr-color;
    }
    &:checked + .radio__btn {
      border: 4px solid $wav-color;
    }
    &:checked ~ label {
      color: $text-color;
    }
  }
  &__btn {
    border-radius: 50%;
    border: 1px solid $brdr-color;
    background: #fff;
    width: 16px;
    height: 16px;
    position: absolute;

    &:hover {
      border-color: $wav-color;
      cursor: pointer;
    }
  }
}

.basket-controls__btns {
  margin-left: 20px;
}

.basket-controls__btn {
  background: #E5E5E5;
  border-radius: 3px;
  border: none;
  @include small-white-text;
  margin-right: 5px;
  height: 22px;
}

.this-basket-link {
  @include small-link-text;
  text-decoration: underline;
  margin-right: 27px;
  &:hover {
    text-decoration: underline;
    color: $red-color;
  }
}

.icon-basket-link {
  margin-right: 22px;

  &:hover {
    .excel svg path:first-child {
      fill: $text-color;
    }
    .print svg path {
      stroke: $text-color;
    }
  }

  &:last-child {
    margin-right: 0;
  }
}
.excel {
  svg path:first-child {
    fill: rgba(44, 43, 43, 0.8);
  }
}
//basket
.basket {
  width: 100%;
  padding-top: 25px;
  @include max-w(767) {
    padding-top: 0;
  }
}

.basket-table {
  width: 100%;

  @include max-w(767) {
    .basket-items__item:nth-child(2) {
      .brdr-mobile-top {
        display: none;
      }
    }
  }
}

.basket-cap {
  display: flex;
  margin-bottom: 10px;
  @include max-w(767) {
    display: none;
  }

  &__item {
    font-size: $text-size;
    color: #767676;

    &:nth-child(1) {
      width: 12%;
      padding-left: 40px;
      @include max-w(988) {
        width: 20%;
      }
    }
    &:nth-child(2){
      width: 25%;
      @include max-w(988) {
        width: 40%;
      }
    }
    &:nth-child(3) {
      width: 35%;
      @include max-w(988) {
        display: none;
      }
    }
    &:nth-child(4) {
      width: 11%;
      @include max-w(988) {
        display: none;
      }
    }
    &:nth-child(5) {
      width: 11%;
      @include max-w(988) {
        width: 20%;
      }
    }
    &:nth-child(6){
      width: 11%;
      @include max-w(988) {
        width: 20%;
      }
    }
  }
}

.basket-items__item {
  display: flex;
  position: relative;
  border-top: 1px solid #E5E5E5;

  @include max-w(988) {
    border-top: none;
  }


  &_default {
    padding-top: 25px;
    padding-bottom: 22px;
    @include small-black-text;

    @include max-w(767) {
      padding-top: 0;
    }
  }

  &_description {
    width: 42%;

    div {
      max-width: 223px;
    }
    &-code {
      color: #767676;
      font-size: $text-size;
      margin-top: 9px;
    }
    @include max-w(988) {
      width: auto;
      padding-bottom: 0;
    }
    @include max-w(767) {
      div {
        max-width: 100%;
      }
    }
  }
  &_oldprice {
    @include small-lightgray-text;
    text-decoration-line: line-through;
  }
  &_allprice {
    @include medium-wav-text;
    font-weight: 500;
    @include max-w(767) {
      margin-right: 10px;
    }
  }
  &_close {
    width: 12px;
    position: relative;
    padding-top: 5px;
    display: block;
    margin-left: auto;
    height: 14px;

    &:before,
    &:after {
      content: '';
      position: absolute;
      left: 8px;
      width: 2px;
      height: 14px;
      background: $icons-color;
      border-radius: 3px;
    }
    &:before {
      transform: rotate(-45deg);
    }
    &:after {
      transform: rotate(45deg);
    }
    &:hover {
      &:before,
      &:after {
        background: $red-color;
      }
    }
  }
  &_count {
    display: flex;
    div {
      border: 1px solid #B6B6B6;
      width: 19px;
      height: 20px;
      text-align: center;
      cursor: pointer;

      &:first-child {
        border-right: none;
        border-radius: 3px 0 0 3px;
      }
      &:last-child {
        border-left: none;
        border-radius: 0 3px 3px 0;
      }
    }
    input {
      width: 31px;
      height: 20px;
      text-align: center;
      border: 1px solid #B6B6B6;
      outline: 0;
      @include small-black-text;
    }
  }

  &_check {
    width: 42px;
    @include max-w(767) {
      display: none;
    }
  }
  &_img {
    width: calc(13% - 40px);
    padding-top: 15px;
    @include max-w(988) {
      width: 14%;
    }
    @include max-w(767) {
      width: 20%;
      margin-left: 15px;
      margin-right: 19px;
      padding-top: 10px;
    }
  }
  &_stock {
    @include max-w(988) {
      padding-top: 8px;
    }
    @include max-w(767) {
      padding-bottom: 15px;
    }
  }
  &_price-wrap {
    width: 12%;
    @include max-w(988) {
      display: none;
    }
  }
  &_count-wrap {
    width: 12%;
    @include max-w(988) {
      width: 26%;
    }
    @include max-w(767) {
      padding-bottom: 21px;
      padding-top: 0;
      order: 4;
    }
  }
  &_allprice-wrap {
    width: calc(11% - 12px);
    @include max-w(988) {
      width: auto;
    }
    @include max-w(767) {
      padding-bottom: 0;
      padding-top: 0;
      display: flex;
      margin-bottom: 7px;
      align-items: center;
    }
  }
  &_close-wrap {
    @include max-w(767) {
      position: absolute;
      right: 17px;
      bottom: 28px;
      padding-bottom: 0;
    }
  }

  &-mobile-wrap {
    display: flex;
    width: 100%;
    @include max-w(988) {
      width: 80%;
    }
    @include max-w(767) {
      flex-direction: column;
      padding-top: 19px;
    }
  }
  &-tablet-wrap {
    display: flex;
    width: 65.2%;
    @include max-w(988) {
      flex-direction: column;
      width: 51.1%;
    }
    @include max-w(767) {
      max-width: 219px;
      width: auto;
    }
  }
}

//FOOTER
.footer-title {
  @include title-black;
  font-weight: normal;
  padding-top: 42px;
  margin-bottom: 30px;

  span {
    font-weight: 500;
  }

  @include max-w(998) {
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    margin-bottom: 40px;
  }
  @include max-w(767) {
    font-size: 18px;
    padding-top: 20px;
    width: 290px;
    margin-left: auto;
    margin-bottom: 30px;

    span {
      display: block;
      width: 100%;
    }
  }
}


.footer-wrap {
  display: flex;
  width: 100%;

  @include max-w(998) {
    flex-direction: column;
  }
}
.owfh {
  overflow: hidden;
}

.footer-form {
  padding-right: 58px;
  padding-top: 10px;
  padding-bottom: 93px;
  position: relative;
  border-right: 1px solid #C5C5C5;
  margin-bottom: 51px;
  @include border-corner;
  width: 34%;

  &__title {
    @include small-title-black;
    margin-bottom: 30px;
    @include max-w(998) {
      margin-left: auto;
      margin-right: auto;
      width: 352px;
    }
    @include max-w(767) {
      width: 290px;
      margin-bottom: 10px;
    }
  }

  form {
    width: 352px;

    @include max-w(1250) {
      width: auto;
    }
    @include max-w(998) {
      width: 352px;
      margin-left: auto;
      margin-right: auto;
    }
    @include max-w(767) {
      width: 290px;
      margin-bottom: 0;
    }
  }
  &__input-wrap {
    margin-bottom: 10px;
    display: flex;
    @include max-w(767) {
      margin-bottom: 13px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    label {
      width: 102px;
      margin-right: 21px;
      margin-bottom: 0;
      @include medium-black-text;
      align-self: center;
    }
    @include input-state;
    &_input {
      padding-left: 9px;
      font-size: 15px;
      height: 30px;
      flex-grow: 1;
      width: auto;
      border-radius: 3px;
      border: 1px solid #E5E5E5;
    }

    textarea {
      width: 230px;
      height: 80px;
      resize: none;
      border-radius: 3px;
      border: 1px solid #E5E5E5;
      padding-left: 9px;
      font-size: 15px;
      flex-grow: 1;
    }

    &:nth-child(4),
    &:nth-child(5) {
      label {
        color: #767676;
      }
    }
    &:nth-child(4) {
      margin-top: 30px;
    }
    &:nth-child(5) {
      margin-top: 40px;

      label {
        align-self: flex-start;
      }
    }
    &_small-input {
      flex-grow: 0;
      width: 160px;
    }
    @include max-w(767) {
      flex-direction: column;

      label {
        margin-right: auto;
        width: auto;
      }

      &:nth-child(4), &:nth-child(5) {
        margin-top: 0;
      }

      textarea {
        width: 100%;
      }
    }
  }

  @include max-w(1247) {
    padding-right: 28px;
  }

  @include max-w(998) {
    padding-right: 0;
    padding-bottom: 50px;
    padding-top: 0;
    border-right: none;
    width: 100%;
    margin-bottom: 30px;

    .brdr-mobile {
      background: #C5C5C5;
    }
  }
  @include max-w(767) {
    padding-bottom: 23px;
    margin-bottom: 25px;
  }
}
// SHIP PAY
.ship-pay {
  padding-right: 58px;
  padding-top: 10px;
  padding-left: 54px;
  position: relative;
  border-right: 1px solid #C5C5C5;
  margin-bottom: 51px;
  @include border-corner;
  width: 38%;

  &__title {
    @include small-title-black;
    margin-bottom: 30px;

    @include max-w(998) {
      width: 290px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 22px;
    }
    @include max-w(767) {
      margin-bottom: 20px;
    }
  }

  @include max-w(1247) {
    padding-left: 28px;
    padding-right: 28px;
  }
  @include max-w(998) {
    width: auto;
    padding-left: 0;
    padding-top: 0;
    border-right: none;
    padding-right: 62px;
    padding-bottom: 47px;
    margin-bottom: 40px;
  }
  @include max-w(767) {
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 34px;
    margin-bottom: 38px;
  }
}
.type-ship {
  padding-bottom: 69px;
  position: relative;
  @include input-state;

  &-pickup-wrap {
    display: none;
  }
  &-pickup {
    &__title {
      @include medium-black-text;
      margin-right: 12px;
    }
    &__input-wrap {
      overflow: hidden;
      width: 100%;
      height: 30px;
      display: block;
      text-decoration: none;
      @include medium-gray-text;
      position: relative;
      &:before {
        content: '';
        background-image: url("../images/arrowselect.svg");
        background-repeat: no-repeat;
        background-position: left 12px;
        background-color: #fff;
        position: absolute;
        right: 1px;
        top: 2px;
        width: 25px;
        height: 25px;
        font-size: 25px;
        color: $wav-color;
        pointer-events: none;
        font-weight: bold;
      }
      &:after {
        content: '';
        width: 20%;
        height: 60%;
        display: block;
        position: absolute;
        left: 200px;
        top: 10%;
        background: linear-gradient(270deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 92.86%);
      }
      select {
        padding-left: 10px;
        width: 100%;
        height: 100%;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
      }
    }
    &__map {
      width: 100%;
      height: 154px;
      margin-top: 11px;
    }
  }

  &__choose {
    display: flex;
    margin-bottom: 16px;
  }
  &__choose_btn {
    background: transparent;
    border: 1px solid #276075;
    font-weight: normal;
    width: 50%;
    height: 30px;
    @include medium-wav-text;
    &:focus {
      outline: 0;
    }
    &:first-child {
      border-radius: 3px 0 0 3px;
    }
    &:nth-child(2) {
      border-radius: 0 3px 3px 0;
    }
  }
  &__input-wrap {
    display: flex;
    align-items: center;
    margin-bottom: 16px;

    label {
      @include medium-black-text;
      margin-bottom: 0;

      @include max-w(998) {
        margin-right: auto;
      }
    }
    input {
      height: 30px;
      margin-left: 15px;
      width: 100%;
      padding-left: 12px;
      @include medium-black-text;
      border-radius: 3px;
      border: 1px solid #E5E5E5;
      &::placeholder {
        color: $text-color;
      }


      @include max-w(998) {
        margin-left: 0;
      }
    }

    @include max-w(998) {
      flex-direction: column;
    }
  }
  &__check {
    display: flex;
    align-items: center;
    &_label {
      @include medium-black-text;
      margin: 0;
      margin-left: 10px;
      cursor: pointer;
    }
  }
  @include max-w(998) {
    padding-bottom: 38px;
    width: 290px;
    margin-left: auto;
    margin-right: auto;
  }
  @include max-w(767) {
    padding-bottom: 30px;
  }
}
.ship-active {
  background: $wav-color;
  color: #fff;
  font-weight: 300;
}

.type-pay {
  border-top: 1px solid #E5E5E5;
  padding-top: 22px;
  display: flex;
  position: relative;

  &__title {
    font-size: 15px;
    line-height: 1;
  }

  &__input-wrap {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    label {
      margin-bottom: 0;
      cursor: pointer;
      color: #767676;
      font-size: 15px;
    }
  }
  @include max-w(998) {
    width: 290px;
    margin-left: auto;
    margin-right: auto;
    border-top: none;

    + .brdr-mobile {
      background: #C5C5C5;
    }
  }
  @include max-w(767) {
    padding-top: 31px;
  }
}
.type-pay-wrap {
  margin-left: 21px;
}
.brdr-mobile,
.brdr-mobile-top {
  display: none;

  @include max-w(998) {
    height: 1px;
    width: 10000px;
    left: -1000px;
    margin: 0;
    bottom: 0;
    background: #E5E5E5;
    display: block;
    position: absolute;
  }
}

.brdr-mobile-top {
  @include max-w(998) {
    top: 0;
  }
}

//TOTAL
.total {
  padding-top: 10px;
  padding-left: 50px;
  width: 28%;
  @include input-state;

  &__title {
    @include small-title-black;
    margin-bottom: 35px;
    @include max-w(988) {
      margin-bottom: 20px;
    }
  }
  &__info {
    margin-bottom: 20px;
    ul li {
      list-style: none;
    }
    ul li {
      display: flex;
      justify-content: space-between;
      margin-bottom: 3px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    li div:nth-child(1) {
      width: 87px;

      &:hover {
        cursor: pointer;
        .baskets-list__close {
          &:before,&:after {
            background: $red-color;
          }
        }
        .total__info_text {
          color: $red-color;
        }
        ~ .total__info_right-col .total__info_text {
          color: $red-color;
        }
      }

      .baskets-list__close {
        margin-left: 0;
        margin-right: 11px;
        margin-top: 3px;
        width: 12px;
        height: 12px;
        display: block;

        &:before,&:after {
          height: 12px;
          top: 1px;
        }
      }
    }
    li div:nth-child(2) {
      flex: 1 0;
      border-bottom: 2px dashed #E5E5E5;
      height: 1em;
      margin: 0 .4em;
    }
    li div:nth-child(3) {
      padding-left: 10px;
    }
    &_text {
      @include medium-black-text;
    }
  }
  &__promocode {
    height: 30px;
    margin-bottom: 16px;
    display: flex;
    &_input {
      margin-right: 5px;
      flex-grow: 1;
      width: 70%;
      input {
        width: 100%;
        background: rgba(255, 255, 255, 0.8);
        border: 1px solid #E5E5E5;
        border-radius: 3px 0px 0px 3px;
        height: 100%;
        padding-left: 10px;
        &::placeholder {
          color: #B6B6B6;
          font-size: 15px;
        }
      }
    }
    &_btn {
      background: #E5E5E5;
      border-radius: 0px 3px 3px 0px;
      color: #fff;
      border-color: transparent;
      height: 100%;
      font-size: 13px;
      &:focus {
        outline: 0;
      }
    }
  }
  &__price {
    display: flex;
    align-items: flex-end;
    line-height: 1;
    margin-bottom: 14px;
    &_title {
      @include medium-black-text;
      margin-right: auto;
      font-weight: 500;
    }
    &_old {
      text-decoration-line: line-through;
      color: $inscript-color;
      font-size: 15px;
      margin-right: 10px;
    }
    &_final {
      font-size: 28px;
      color: $wav-color;
      font-weight: 500;
      margin-left: 10px;
    }
  }

  @include max-w(1247) {
    padding-left: 28px;
  }

  @include max-w(998) {
    width: 100%;
    padding-left: 0;
    padding-right: 52px;
    padding-top: 0;

    &__title,
    &__info,
    &__promocode,
    &__price,
    &__conf,
    &__red-btn {
      width: 300px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  @include max-w(767) {
    padding-right: 0;
    display: flex;
    flex-direction: column;

    &__info {
      margin-bottom: 20px;
      ul li {
        margin-bottom: 6px;
      }
    }
    &__promocode {
      margin-bottom: 16px;
    }
    &__price {
      margin-bottom: 23px;
    }
  }
}
.total__conf {
  display: flex;
  align-items: center;
  .check {
    width: 12px;
    height: 12px;

    &__input {
      &:checked + .check__box {
        background-image: url(../images/checksmall.svg);
      }
    }

    &__box {
      width: 12px;
      height: 12px;
      background-color: #A0A0A0;
      background-image: url(../images/checksmall.svg);
      background-repeat: no-repeat;
      background-position: center;
      border-color: #A0A0A0;
    }
  }
}
.total__conf-label {
  margin-left: 5px;
  cursor: pointer;
  margin-bottom: 0;
  font-size: 10px;
  color: #A0A0A0;
}


// IE FIX
@media screen and (-ms-high-contrast: active),(-ms-high-contrast: none) {
  .new-basket-btn {
    padding-left: 20px;
  }
}

//EDGE FIX
@supports (-ms-ime-align: auto) {
  .new-basket-btn {
    padding-left: 10px;
    span {
      margin-right: 10px;
    }
  }
}




// OLD STYLES
@font-face { font-family: 'icomoon'; src: url("../fonts/icomoon.eot?t32cwy"); src: url("../fonts/icomoon.eot?t32cwy#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?t32cwy") format("truetype"), url("../fonts/icomoon.woff?t32cwy") format("woff"), url("../fonts/icomoon.svg?t32cwy#icomoon") format("svg"); font-weight: normal; font-style: normal; }
.ico { display: inline-block; width: 16px; height: 16px; line-height: 16px; border-radius: 50%; color: #CF4238; font-size: 12px; font-style: normal; text-align: center; }
.m-ico-grn { background: #BACD38; color: #FFFFFF; }
.icon-check:before { content: ""; }
.fnt-10 { font-size: 10px; }
.mr-2, .mx-2 { margin-right: 0.5rem !important; }
[class^="icon-"], [class*=" icon-"] { /* use !important to prevent issues with browser extensions that change fonts */ font-family: "icomoon" !important; speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; /* Better Font Rendering =========== */ -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.prdct-old-prc { font-size: 15px; line-height: 18px; text-decoration: line-through; color: #A0A0A0; }
.btn.h-44 { line-height: 44px; font-size: 18px; }
.is-full-width { width: 100%; }
.btn { cursor: pointer; text-align: center; display: inline-block; height: 35px; line-height: 35px; font-size: 14px; color: #ffffff; border-radius: 3px; background: #276075; -webkit-transition-property: background; -o-transition-property: background; transition-property: background; -webkit-transition-duration: 0.3s; -o-transition-duration: 0.3s; transition-duration: 0.3s; text-decoration: none; border: none; padding: 0 15px; }
.btn:hover { background: #468AA3; color: #ffffff; }
.checkout-red-btn { background: #CF4238;opacity:0.8;transition: all 0.3s ease;@include max-w(767){opacity: 1;}}
.checkout-red-btn:hover {  opacity: 1; background: #CF4238; }
.h-44 {
  height: 44px;
}
.mb-10 {
  margin-bottom: 10px;
}
.m-ico-brdr { border: 1px solid #CF4238; line-height: 14px; }
.m-ico-brdr.m-grey-ico { border: 1px solid #A0A0A0; color: #A0A0A0; }
.ml-2, .mx-2 { margin-left: 0.5rem !important; }
.tltp-hldr { position: relative; z-index: 2; display: inline-block; }
.tltp-hldr:hover .tltp-blck { display: block; }
.container { width: 100%; padding-right: 15px; padding-left: 15px; margin-right: auto; margin-left: auto; }

@media (min-width: 576px) { .container { max-width: 540px; } }

@media (min-width: 768px) { .container { max-width: 688px; } }

@media (min-width: 998px) { .container { max-width: 980px; } }

@media (min-width: 1248px) { .container { max-width: 1230px; } }







