{% extends 'layouts/application.html' %}

{% block header %}
{% include '_part/cart/header.html' %}
{% endblock %}


{% block content %}
{% include '_part/cart/content.html' %}
{% endblock %}

{% block footer %}
{% include '_part/cart/footer.html' %}
{% endblock %}

{% block javascript %}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://api-maps.yandex.ru/2.1/?apikey=d62c1a4b-3385-4467-b170-1e11a5f49c07&lang=ru_RU"></script>
<script src="js/main.js"></script>
<script>
  ymaps.ready(function () {
    var myMap = new ymaps.Map('map', {
        center: [55.751574, 37.573856],
        zoom: 9
      }, {
        searchControlProvider: 'yandex#search'
      }),

      // Создаём макет содержимого.
      MyIconContentLayout = ymaps.templateLayoutFactory.createClass(
        '<div style="color: #FFFFFF; font-weight: bold;">$[properties.iconContent]</div>'
      ),

      myPlacemark = new ymaps.Placemark(myMap.getCenter(), {
        hintContent: 'Собственный значок метки',
        balloonContent: 'Это красивая метка'
      }, {
        // Опции.
        // Необходимо указать данный тип макета.
        iconLayout: 'default#image',
        // Своё изображение иконки метки.
        iconImageHref: 'images/geo.svg',
        // Размеры метки.
        iconImageSize: [22, 22],
        // Смещение левого верхнего угла иконки относительно
        // её "ножки" (точки привязки).
        iconImageOffset: [-5, -38]
      }),

      myPlacemarkWithContent = new ymaps.Placemark([55.661574, 37.573856], {
        hintContent: 'Собственный значок метки с контентом',
        balloonContent: 'А эта — новогодняя',
        iconContent: '12'
      }, {
        // Опции.
        // Необходимо указать данный тип макета.
        iconLayout: 'default#imageWithContent',
        // Своё изображение иконки метки.
        iconImageHref: 'images/geo.svg',
        // Размеры метки.
        iconImageSize: [22, 22],
        // Смещение левого верхнего угла иконки относительно
        // её "ножки" (точки привязки).
        iconImageOffset: [-24, -24],
        // Смещение слоя с содержимым относительно слоя с картинкой.
        iconContentOffset: [15, 15],
        // Макет содержимого.
        iconContentLayout: MyIconContentLayout
      });

    myMap.geoObjects
      .add(myPlacemark)
      .add(myPlacemarkWithContent);
  });
</script>
{% endblock %}

{% block modals %}
{% include '_part/modals/modal-delete-confirm.html' %}
{% endblock %}

