<div>
  <div class="container">
    <h1 class="main-title">Корзины <span>4</span></h1>
  </div>
</div>

<div class="light-gray-bg">
  <div class="container">
    <div class="row no-gutters flex-nowrap">
      <div class="col-auto baskets-col-navigation">
      {% include '_part/cart/tabs-navigation-2.html' %}
      </div>
      <div class="baskets-list-next"><span></span></div>
      <div class="new-basket-btn-wrap col-auto d-none d-lg-flex justify-content-center">
        <button class="new-basket-btn"><span></span>Новая корзина</button>
      </div>
    </div>
  </div>
</div>

<main>
  <div class="owfh">
    <div class="container">
      {% include '_part/cart/controls.html' %}
      <div class="basket">
        {% include '_part/cart/items.html' %}
      </div>
    </div>
  </div>
</main>
