<div>
  <div class="container">
    <div class="row">
      <h1 class="main-title">Корзины <span>4</span></h1>
    </div>
  </div>
</div>

<div class="light-gray-bg">
  <div class="container">
    <div class="row">
      {% include '_part/cart/tabs-navigation.html' %}
      <div class="baskets-list-next"><span></span></div>
      <div class="new-basket-btn-wrap">
        <button class="new-basket-btn"><span></span>Новая корзина</button>
      </div>
    </div>
  </div>
</div>

<main>
  <div class="owfh">
    <div class="container">
      {% include '_part/cart/empty-text.html' %}
    </div>
  </div>
</main>
